html {
  font: 100%/1.75 'Merriweather','Georgia',serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  font-size: 14px;

  color: hsla(0,0%,0%,0.9);
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1, h2, h3, h4, h5, h6 {
  margin: 4rem 0 2rem 0;
  font-weight: 900;
  line-height: 1.2;
  font-family: 'Merriweather', serif;

}

h1 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  margin-bottom: 1.75em;
  margin-top: 0;
}

a {
  color: #ff5e00;
  box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 0.875rem;
  margin-bottom: 0px;
  min-width: 50px;
  border-radius: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 3em 0;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

blockquote {
  margin-left: -1.75rem;
  margin-right: 1.75rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1.42188rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: hsla(0,0%,0%,0.59);
  font-style: italic;
  border-left: 0.32813rem solid hsla(0,0%,0%,0.9);
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}


.anchor .header-link::before {
  content: "📎";
  position: absolute;
  left: 0;
  opacity: .2;
}

h1:hover .anchor .header-link::before, h2:hover .anchor .header-link::before, h3:hover .anchor .header-link::before, h4:hover .anchor .header-link::before {
  opacity: .7;
}
